include {{ nginx_conf_path }}/local/keitaro/admin.inc;

access_log {{ nginx_access_log_keitaro_admin }} main {{ nginx_access_log_options }};

include {{ nginx_conf_path }}/keitaro/locations/php-fpm/_fcgi.inc;
fastcgi_pass 127.0.0.1:8102;
fastcgi_read_timeout 600;
