- name: Install by YUM | Add Altinity repo
  shell: "curl -s https://packagecloud.io/install/repositories/altinity/clickhouse/script.rpm.sh | sudo bash"
  become: true

- name: Install by YUM | Install Clickhouse
  yum:
    name: "{{ item }}"
    state: present
    enablerepo: Altinity_clickhouse
  with_items: "{{ clickhouse_package }}"
  become: true
