include {{ nginx_conf_path }}/local/keitaro/tracker.inc;

access_log {{ nginx_access_log }} main {{ nginx_access_log_options }};
access_log {{ nginx_access_log_keitaro_tracker_status }} status {{ nginx_access_log_options }};

proxy_ignore_client_abort on;
proxy_ssl_session_reuse off;

proxy_pass http://{{ php_rr_bind_address }}$request_uri;
proxy_set_header  Host $host;
proxy_set_header  X-Forwarded-Proto $scheme;
proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
