# Hide hidden files
location ~ /\..* {
  access_log off;
  return 404;

  # Show Lets Encrypt hidden files
  location ~ /\.well-known/ {
    allow all;
  }
}

# Allow access to status page only from localhost
location = /status-nontracker {
  allow 127.0.0.1;
  deny all;
  access_log off;

  include {{ nginx_conf_path }}/keitaro/nontracker.php-fpm.inc;
}

# Cache assets
location ~* \.(jpg|jpeg|gif|png|js|css|txt|zip|ico|gz|csv|svg|ttf|woff|mp.|mpeg|mkv)$ {
  access_log off;
  expires 10d;
}

# Serve PHP pages via nontracker engine
location ~ \.php$ {
  try_files $uri =404;

  include {{ nginx_conf_path }}/keitaro/nontracker.inc;
}
