[keitaro-nginx-badbots]

enabled  = true
port     = http,https
filter   = keitaro-bot-filter
logpath  = {{ nginx_access_log }}
action   = {{ fail2ban_action }}
maxretry = {{ fail2ban_maxretry }}
findtime = {{ fail2ban_findtime }}
bantime  = {{ fail2ban_bantime }}
