LICENSE_IP={{ server_ip }}
MARIADB_USERNAME={{ db_user }}
MARIADB_DB={{ db_name }}
MARIADB_PASSWORD={{ db_password }}
SALT={{ salt }}
CH_HOST={{ ch_host }}
CH_PORT_HTTP={{ ch_port }}
CH_DB={{ ch_db }}
CH_USER={{ ch_user }}
CH_PASSWORD={{ ch_password }}
POSTBACK_KEY={{ postback_key | default('') }}
