CH_DB={{ ch_db }}
CH_HOST={{ ch_host }}
CH_PASSWORD={{ ch_password }}
CH_PORT={{ ch_port }}
CH_PORT_HTTP={{ ch_port_http }}
CH_USER={{ ch_user }}
LICENSE_IP={{ server_ip }}
MARIADB_DB={{ db_name }}
MARIADB_HOST={{ db_host }}
MARIADB_PASSWORD={{ db_password }}
MARIADB_PORT={{ db_port }}
MARIADB_USERNAME={{ db_user }}
POSTBACK_KEY={{ postback_key | default('') }}
TABLE_PREFIX={{ table_prefix | default('keitaro_') }}
SALT={{ salt }}
