---
- hosts: all
  connection: "{{connection}}"
  become: yes
  become_method: sudo
  vars_files:
    - vars/keitaro.yml
    - vars/server.yml
    - vars/ssl.yml
    - vars/mariadb.yml
    - vars/nginx.yml
    - vars/php.yml
    - "vars/performance.{{ php_engine }}.yml"
    - vars/performance.yml

  roles:
    - {role: 'keitaro.debug', tags: 'debug, tune, upgrade'}
    - {role: 'upgrades.pretasks', tags: 'never, upgrade'}
    - {role: 'mikegleasonjr.swap', tags: 'swap, upgrade'}
    - {role: 'keitaro.prepare', tags: 'prepare, upgrade'}
    - {role: 'geerlingguy.firewall', tags: 'firewall', when: "skip_firewall is not defined or skip_firewall != 'yes'"}
    - {role: 'resmo.ntp', tags: 'ntp'}
    - {role: 'mrlesmithjr.timezone'}
    - {role: 'geerlingguy.repo-remi', tags: 'repo-remi'}
    - {role: 'keitaro.disable_thp', tags: 'mariadb, tokudb, redis, upgrade'}
    - {role: 'keitaro.redis', tags: 'redis'}
    - {role: 'keitaro.redis-tune', tags: 'redis, tune, redis-tune, upgrade'}
    - {role: 'bertvv.mariadb', tags: 'mariadb'}
    - {role: 'keitaro.mariadb-install_tokudb', tags: 'mariadb, tokudb, upgrade'}
    - {role: 'keitaro.mariadb-tune', tags: 'mariadb, tokudb, tune, mariadb-tune, upgrade'}
    - {role: 'keitaro.nginx', tags: 'nginx'}
    - {role: 'keitaro.nginx-tune', tags: 'nginx, tune, nginx-tune, upgrade'}
    - {role: 'keitaro.php', tags: 'php, upgrade'}
    - {role: 'keitaro.tracker', tags: 'tracker'}
    - {role: 'keitaro.tracker-tune', tags: 'tracker, tune, tracker-tune, upgrade'}
    - {role: 'keitaro.php-fpm', tags: 'php, php-fpm, upgrade'}
    - {role: 'keitaro.php-fpm-tune', tags: 'php, php-fpm, tune, php-fpm-tune, upgrade'}
    - {role: 'keitaro.roadrunner', tags: 'php, roadrunner, upgrade'}
    - {role: 'keitaro.roadrunner-tune', tags: 'php, roadrunner, tune, roadrunner-tune, upgrade'}
    - {role: 'keitaro.db_restore', tags: 'db_restore', when: "db_restore_path is defined and db_restore_path != ''"}
    - {role: 'upgrades.tasks', tags: 'never, upgrade, upgrade-tracker, upgrade-php, upgrade-nginx' }
