[Unit]
Description=MariaDB server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/keitaro/config/components.env
ExecStartPre=-/usr/bin/bash -c \
              "(/usr/bin/podman ps | /usr/bin/grep -qw {{ mariadb_docker_name }}) \
                  && /usr/bin/podman rm --force --storage {{ mariadb_docker_name }}"
ExecStart=/usr/bin/podman \
                      run \
                      --rm \
                      --net host \
                      --user {{ mariadb_user_id }}:{{ mariadb_group_id }} \
                      --name {{ mariadb_docker_name }} \
                      {% for mount_point in mariadb_docker_volumes %} -v {{ mount_point }}:{{ mount_point }} {% endfor %} \
                      ${MARIADB_IMAGE}
ExecStop=/usr/bin/podman stop {{ mariadb_docker_name }}

Restart=always
RestartSec=20
KillMode=none

[Install]
WantedBy=multi-user.target
