# Hide hidden files
location ~ /\..* {
  access_log off;
  return 404;

  # Show Lets Encrypt hidden files
  location ~ /\.well-known/ {
    allow all;
  }
}

# Cache assets
location ~* \.(jpg|jpeg|gif|png|js|json|css|txt|zip|ico|gz|csv|svg|ttf|woff|mp.|mpeg|mkv|woff2)$ {
  add_header Access-Control-Allow-Origin *;
  access_log off;
  expires 10d;
}

location ~* \.js@ {
  default_type applicaton/javascript;
  add_header Access-Control-Allow-Origin *;
  access_log off;
  expires 10d;
}

