# Serve PHP pages via php-files-pool engine
location ~ \.php$ {
  add_header Access-Control-Allow-Origin *;

  try_files $uri =404;

  include {{ nginx_conf_path }}/keitaro/locations/php-fpm/www.inc;
}

