# Allow access to the status page of the tracker pool only from localhost
location = /status-tracker {
  allow 127.0.0.1;
  deny all;
  access_log off;

  include {{ nginx_conf_path }}/keitaro/locations/php-fpm/_fcgi.inc;
  fastcgi_pass unix:/var/run/{{ php_version }}-php-fpm-tracker.sock;
}

# Tracker locations
location / {

  # Hide tracker files
  location ~ ^/((application|bin|lib|var|vendor)\b|(cron|server|version)\.php) {
    access_log off;
    return 404;
  }

  # Handle api.php & index.php with tracker's engine
  location ~ ^/(api|index)\.php$ {
    add_header Access-Control-Allow-Origin *;

    include /etc/nginx/conf.d/keitaro/locations/roadrunner.inc;
  }

  # Handle robots.txt with tracker's engine
  location = /robots.txt {
    include /etc/nginx/conf.d/keitaro/locations/roadrunner.inc;
  }

  try_files $uri $uri/ /index.php$is_args$args;
}
