- name: Backup nginx configs
  copy:
    src: /etc/nginx/conf.d/
    dest: "/etc/nginx/conf.d.{{ ansible_date_time.iso8601_basic_short }}"

- name: Stat vhosts.conf
  stat: path=/etc/nginx/conf.d/vhosts.conf
  register: vhosts_conf

- name: Rename vhosts.conf to keitaro.conf
  command: mv /etc/nginx/conf.d/vhosts.conf /etc/nginx/conf.d/keitaro.conf
  when: vhosts_conf.stat.exists

- name: Make ssl certs dir
  file:
    path: "{{ ssl_root }}"
    state: directory

- name: Copy ssl certs to the new location
  shell: "test -f {{ item.src }} && cp {{ item.src }} {{ item.dest }} || true"
  with_items:
    - src: /etc/nginx/ssl/cert.pem
      dest: "{{ ssl_cert_path }}"
    - src: /etc/nginx/ssl/privkey.pem
      dest: "{{ ssl_privkey_path }}"
    - src: /etc/ssl/certs/dhparam.pem
      dest: "{{ ssl_dhparam_path }}"