<?xml version="1.0"?>
<yandex>
  <profiles>
    <default>
    <!--
      For example, if max_memory_usage was set to 10000000000 and you want to use external aggregation,
      it makes sense to set max_bytes_before_external_group_by to 10000000000, and max_memory_usage
      to 20000000000. When external aggregation is triggered
      (if there was at least one dump of temporary data), maximum consumption of RAM is only
      slightly more than max_bytes_before_external_group_by.
    -->

      <max_memory_usage>{{ clickhouse_db_memory_kb | int * 2 }}</max_memory_usage>
      <use_uncompressed_cache>1</use_uncompressed_cache>
      <max_bytes_before_external_group_by>{{ clickhouse_db_memory_kb }}</max_bytes_before_external_group_by>

    <!--
      With distributed query processing, external aggregation is performed on remote servers.
      In order for the requester server to use only a small amount of RAM,
      set distributed_aggregation_memory_efficient to 1.
     -->

      <distributed_aggregation_memory_efficient>1</distributed_aggregation_memory_efficient>
    </default>

    <readonly>
      <readonly>1</readonly>
    </readonly>
  </profiles>

  <users>
    <{{ ch_user }}>
      <password_sha256_hex>{{ ch_password | hash('sha256') }}</password_sha256_hex>
      <networks incl="networks" replace="replace">
        <ip>::/0</ip>
      </networks>

      <profile>default</profile>

      <quota>default</quota>

    </{{ ch_user }}>
  </users>

  <quotas>
    <default>
      <interval>
        <duration>3600</duration>
        <queries>0</queries>
        <errors>0</errors>
        <result_rows>0</result_rows>
        <read_rows>0</read_rows>
        <execution_time>0</execution_time>
      </interval>
    </default>
  </quotas>
</yandex>