http:
  address: {{ php_rr_bind_address }}
  workers:
    command: "php {{ keitaro_root }}/server.php"
    pool:
      maxJobs: {{ php_tracker_worker_max_requests }}
      allocateTimeout: 10
      destroyTimeout:  10

rpc:
  enabled: true

