[Init]

#http_methods for search
http_methods = (GET|POST|HEAD)


# Block is the actual non-found directories to block
path_blacklist = (?i)(<phpmyadmin>|<wordpress>)\d*

webmail = roundcube|(ext)?mail|horde|(v-?)?webmail

phpmyadmin = ((php|my|phpmy|sql|mysql)admin|my(sql|sqldb|db)|xampp|pmadb)

wordpress = wp-(login|signup|admin)\.php


# Block to match useragent
useragent_blacklist = (zgrab|Widow)


# Allow to match useragent
useragent_whitelist = (?i)(Google|Slurp|Yahoo|MMCrawler|msnbot|SandCrawl|MSRBOT|Teoma|Jeeves|inktomi|facebookexternalhit|KHttpClient)


# Allow to match path
path_whitelist = (/|/robots.txt|/sitemap.xml)
