<?xml version="1.0"?>
<clickhouse>
    <listen_host>::</listen_host>
    <listen_host>0.0.0.0</listen_host>
    <listen_try>1</listen_try>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <keep_alive_timeout>3</keep_alive_timeout>

    <max_server_memory_usage>{{ clickhouse_max_server_memory_usage }}</max_server_memory_usage>
    <max_connections>{{ clickhouse_max_connections }}</max_connections>
    <!-- <max_concurrent_queries>100</max_concurrent_queries> -->
    <max_thread_pool_size>{{ clickhouse_max_thread_pool_size }}</max_thread_pool_size>
    <!-- <max_open_files>262144</max_open_files> -->

    <!-- Approximate size of mark cache, used in tables of MergeTree family.
         In bytes. Cache is single for server. Memory is allocated only on demand.
         You should not lower this value.
      -->
    <mark_cache_size>{{ clickhouse_mark_cache_size }}</mark_cache_size>

    <!-- Path to data directory, with trailing slash. -->
    <path>{{ clickhouse_path_to_libs }}/</path>

    <!-- Path to temporary data for processing hard queries. -->
    <tmp_path>{{ clickhouse_path_to_libs }}/tmp/</tmp_path>

    <!-- Directory with user provided files that are accessible by 'file' table function. -->
    <user_files_path>{{ clickhouse_path_to_libs }}/user_files/</user_files_path>

    <!-- Sources to read users, roles, access rights, profiles of settings, quotas. -->
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>{{ clickhouse_path_to_libs }}/access/</path>
        </local_directory>
    </user_directories>

    <!-- Default profile of settings. -->
    <default_profile>default</default_profile>

    <!-- Default database. -->
    <default_database>default</default_database>

    <!-- Perform mlockall after startup to lower first queries latency
          and to prevent clickhouse executable from being paged out under high IO load.
         Enabling this option is recommended but will lead to increased startup time for up to a few seconds.
    -->
    <mlock_executable>true</mlock_executable>

    <!-- Directory in <clickhouse-path> containing schema files for various input formats.
         The directory will be created if it doesn't exist.
      -->
    <format_schema_path>{{ clickhouse_path_to_libs }}/format_schemas/</format_schema_path>

    <merge_tree>
      <merge_max_block_size>{{ clickhouse_merge_max_block_size}}</merge_max_block_size>
      <max_bytes_to_merge_at_max_space_in_pool>{{ clickhouse_max_bytes_to_merge_at_max_space_in_pool}}</max_bytes_to_merge_at_max_space_in_pool>
      <number_of_free_entries_in_pool_to_lower_max_size_of_merge>0</number_of_free_entries_in_pool_to_lower_max_size_of_merge>
    </merge_tree>

    <!-- Cache size in bytes for compiled expressions.-->
    <compiled_expression_cache_size>{{ clickhouse_compiled_expression_cache_size}}</compiled_expression_cache_size>

    <!-- Cache size in elements for compiled expressions.-->
    <compiled_expression_cache_elements_size>{{ clickhouse_compiled_expression_cache_elements_size}}</compiled_expression_cache_elements_size>

    <timezone>UTC</timezone>

    <logger>
        <level>warning</level>
        <console>true</console>
        <log>{{ clickhouse_path_to_logs }}/server.log</log>
        <errorlog>{{ clickhouse_path_to_logs }}/err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <asynchronous_metric_log remove="1"/>
    <metric_log remove="1"/>
    <query_thread_log remove="1" />
    <query_log>
        <database>system</database>
        <table>query_log</table>
        <ttl>event_date + INTERVAL 3 DAY DELETE</ttl>
    </query_log>
    <query_views_log remove="1" />
    <part_log remove="1"/>
    <session_log remove="1"/>
    <text_log remove="1" />
    <trace_log remove="1"/>
    <crash_log remove="1"/>
    <opentelemetry_span_log remove="1"/>
    <zookeeper_log remove="1"/>
</clickhouse>
