<?xml version="1.0"?>
<yandex>

  <profiles>
    <default>
      <log_query_threads>0</log_query_threads>
      <queue_max_wait_ms>1000</queue_max_wait_ms>
      <max_query_size>{{ clickhouse_max_query_size }}</max_query_size>
    </default>
  </profiles>

  <quotas>
    <default>
      <interval>
        <duration>3600</duration>
        <queries>0</queries>
        <errors>0</errors>
        <result_rows>0</result_rows>
        <read_rows>0</read_rows>
        <execution_time>0</execution_time>
      </interval>
    </default>
  </quotas>

  <users>
    <{{ ch_user }}>
      <password_sha256_hex>{{ ch_password | hash('sha256') }}</password_sha256_hex>
      <profile>default</profile>
      <quota>default</quota>
    </{{ ch_user }}>
  </users>

</yandex>
