access_log {{ nginx_access_log_keitaro_tracker }} main {{ nginx_access_log_options }};
access_log {{ nginx_access_log_keitaro_tracker_status }} status {{ nginx_access_log_options }};

# Trust the X-Forwarded-For header if request sends from the CloudFlare servers or from own proxies
include {{ nginx_ip_list_cf_path }};
include {{ nginx_ip_list_local_path }};
real_ip_header X-Forwarded-For;

{% if php_engine == 'php-fpm' %}
include {{ nginx_conf_path }}/keitaro-tracker.php-fpm.inc;
{% else %}
include {{ nginx_conf_path }}/keitaro-tracker.roadrunner.inc;
{% endif %}
