[Unit]
Description=RoadRunner watcher generator
After=network.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 1
ExecStart=/usr/local/bin/keitaro-regenerate_systemd_roadrunner_watcher_path

[Install]
WantedBy=multi-user.target