[Unit]
Description=Keitaro RoadRunner service
After=syslog.target network.target

[Service]
ExecStart={{ rr_bin }} serve -v -c {{ rr_config }}
ExecReload={{ rr_bin }} http:reset -v -c {{ rr_config }}
WorkingDirectory={{ keitaro_home }}

Restart=always
RestartSec=30s

User={{ keitaro_user }}
Group={{ keitaro_group }}

LimitNOFILE={{ php_tracker_opened_files }}

[Install]
WantedBy=multi-user.target