[Path]
PathChanged={{ keitaro_root }}/application/config/config.ini.php
PathChanged={{ keitaro_root }}/application/redirects/
PathChanged={{ keitaro_root }}/application/macros/
PathChanged={{ keitaro_root }}/application/filters
# PathChanged={{ keitaro_root }}/

[Install]
WantedBy=multi-user.target
