- name: Create keitaro group
  group:
    name: "{{ keitaro_group }}"
    system: true

- name: Create keitaro user
  user:
    name: "{{ keitaro_user }}"
    group: "{{ keitaro_group }}"
    system: true
    shell: /sbin/nologin
    createhome: false
    home: "{{ keitaro_home }}"

- name: Create keitaro home
  file:
    path: "{{ keitaro_home }}"
    state: directory
    owner: "{{ keitaro_user }}"
    group: "{{ keitaro_group }}"
    mode: 0550

- name: Prepare keitaro root dir
  file:
    path: "{{ keitaro_root }}"
    state: directory
    owner: "{{ keitaro_user }}"
    group: "{{ keitaro_group }}"
    mode: 0755
    recurse: yes

- name: Create directory for backups
  file:
    path: "{{ keitaro_config_backups_dir }}"
    state: directory

- name: Create directory for ssl certs
  file:
    path: "{{ ssl_root }}"
    state: directory

- name: Setup limits
  pam_limits:
    domain: "{{ keitaro_user }}"
    limit_type: '-'
    limit_item: nofile
    value: 4096
