# Calculated using http://mysqlcalculator.com/

# global settings
key_buffer_size = 1M
query_cache_size = {{ db_memory_mb * 0.02 | int }}M
# tmp_table_size = max_heap_table_size = 1% available_memory
tmp_table_size = {{ db_memory_mb * 0.01 | int }}M
max_heap_table_size = {{ db_memory_mb * 0.01 | int }}M
max_connections = {{ db_connections }}
# per connection settings
join_buffer_size = {{ [db_memory_mb * 0.01 / db_connections | int, 1] | max }}M

# table_open_cache = max_connections * 100 (amount of tables in db)
table_open_cache = {{ db_connections * 100 }}
# In general it is 2x of table_open_cache.
open_files_limit = {{ db_connections * 100 * 2 }}

tokudb_cache_size = {{ db_memory_mb * 0.8 | int }}M
