[Unit]
Description=Keitaro RoadRunner service
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/roadrunner serve -v -c={{ configs_root }}/roadrunner.yml
WorkingDirectory={{ keitaro_root }}

Restart=always
RestartSec=5s

User={{ keitaro_user }}
Group={{ keitaro_group }}

LimitNOFILE={{ php_rr_opened_files }}

[Install]
WantedBy=multi-user.target