[Unit]
Description=ClickHouse server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/keitaro/config/components.env
ExecStartPre=-/usr/bin/bash -c \
              "(/usr/bin/podman ps -a | /usr/bin/grep -qw {{ clickhouse_docker_name }}) \
                  && {{ podman_command }}"
ExecStart=/usr/bin/podman \
                      run \
                      --rm \
                      --net host \
                      --user {{ clickhouse_user_id }}:{{ clickhouse_group_id }} \
                      --name {{ clickhouse_docker_name }} \
                      {% for mount_point in clickhouse_docker_volumes %} -v {{ mount_point }}:{{ mount_point }} {% endfor %} \
                      ${CLICKHOUSE_IMAGE}
ExecStop=/usr/bin/podman stop {{ clickhouse_docker_name }}

Restart=always
RestartSec=20
KillMode=none

[Install]
WantedBy=multi-user.target
