[Unit]
Description=Keitaro RoadRunner service
After=syslog.target network.target


[Service]
ExecStart={{ rr_wrapper }} start
ExecReload={{ rr_wrapper }} reload
WorkingDirectory=/home/keitaro
LimitNOFILE=2000
User=keitaro
Group=keitaro

Type=notify
NotifyAccess=all
WatchdogSec=60s
Restart=always
RestartSec=120s
StartLimitBurst=4
# StartLimitInterval must be greater then RestartSec * StartLimitBurst
StartLimitInterval=600
StartLimitAction=reboot


[Install]
WantedBy=multi-user.target
