[Path]
PathChanged={{ keitaro_app_dir }}/application/config/config.ini.php
PathChanged={{ keitaro_app_dir }}/application/redirects/
PathChanged={{ keitaro_app_dir }}/application/macros/
PathChanged={{ keitaro_app_dir }}/application/filters
# PathChanged={{ keitaro_app_dir }}/

[Install]
WantedBy=multi-user.target
