- name: Remove old mariadb config files
  file:
    path: "/etc/my.cnf.d/{{ item }}"
    state: absent
  with_items:
    - mysqld-error_log.cnf
    - mysqld-log_slow_queries.cnf
    - mysqld-optimize_performance.cnf
    - mysqld-set_pidfile_path.cnf
    - mysqld.cnf
    - keitaro-mysqld-set_default_storage_engine.cnf
  notify: restart mariadb
