[Unit]
Description=Keitaro RoadRunner service
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/rr serve -v -d -c=/etc/keitaro/roadrunner.yml
WorkingDirectory={{ keitaro_root }}

Restart=always
RestartSec=5s

User={{ os_user }}
Group={{ os_user }}


[Install]
WantedBy=multi-user.target