http:
  address: {{ php_rr_bind }}
  workers:
    command: "php {{ keitaro_root }}/server.php"
    pool:
      numWorkers: {{ php_rr_workers }}
      maxJobs: {{ php_rr_max_requests }}

rpc:
  enabled: false

