[Unit]
Description=Redis server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/keitaro/config/components.env
ExecStartPre=-/usr/bin/bash -c \
              "(/usr/bin/podman ps -a | /usr/bin/grep -qw {{ redis_docker_name }}) \
                  && {{ podman_command }})"
ExecStart=/usr/bin/podman \
                      run \
                      --rm \
                      --net host \
                      --user {{ redis_user_id }}:{{ redis_group_id }} \
                      --name {{ redis_docker_name }} \
                      {% for mount_point in redis_docker_volumes %} -v {{ mount_point }}:{{ mount_point }} {% endfor %} \
                      ${REDIS_IMAGE}
ExecStop=/usr/bin/podman stop {{ redis_docker_name }}

Restart=always
RestartSec=20
KillMode=none

[Install]
WantedBy=multi-user.target
